<div class="columns">
  <div class="column is-2">
    <h3><b>Questions</b></h3>
    <hr class="dropdown-divider">
    <h4>Questions for You</h4>
    <h4>Answer Requests</h4>
    <h4>Answer Later</h4>
  </div>
  <div class="column is-8">
    <div class="card">

    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <button class="button" style="background: #b92b27;">
            <span class="icon"><i class="fas fa-star" color="white"></i></span>
          </button>
        </div>
        <div class="card-header-title">Questions For You</div>
      </div>
      <div class="card-content">
        <table class="table is-bordered is-fullwidth">
          <% @questions.each do |question| %>
          <%= render  "components/question", question: question %>
          <% end %>
        </table>
      </div>
      <div class="card-footer">
        <div class="card-footer-item" style="text-align:center;">
          <a href="#">More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
  </div>
</div>