<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <div class="image">
          <%= image_tag('sample.jpeg')%>
        </div>
      </div>
      <div class="column">
        <p>Dan Levy</p>
        <p>Somewhat Educated Australian</p>
      </div>
    </div>
    <p>Sometimes I wrap myself up in a curtain and pretend I’m a spooky ghost</p>
    <div>
      <button>Follow</button>
      <button>Notify Me</button>
      <button>Ask Question</button>
      <button>...</button>
    </div>
    <hr />
    <div>
      <button>Profile</button>
      <button>Answers</button>
      <button>Questions</button>
      <button>Shares</button>
      <button>Posts</button>
      <button>Followers</button>
      <button>More</button>
    </div>
    <hr />
  </div>
  <div class="column">
    <div class="cred_high">
      <h2>Credentials & Highlights</h2>
      <hr>
      <p>Lives in Melbourne</p>
      <p>500 content views</p>
      <p>Active in 8 Spaces</p>
      <p>Knows Japanese</p>
      <p>Active in Spanish</p>
    </div>
    <br />
    <br />
    <div class="spaces">
      <h2>Spaces</h2>
      <hr>
      <p>Dan's Pub</p>
    </div>
    <br />
    <br />
    <div class="knows_about">
      <h2>Knows About</h2>
      <hr />
      <p>Language</p>
      <p>English</p>
    </div>
  </div>
</div>