<div class="tags">
  <div class="buttons">
    <% question.tag_list.each do |tag| %>
    <div class="button is-small">
      <%= link_to tag, tagged_questions_path(tag: tag) %>
    </div>
    <% end %></p>
  </div>
</div>