<footer class="footer">
<div class="content has-text-centered">
    Built by <a href="https://linktr.ee/RossAndrewBaker" target="_blank">Ross</a>, <a href="https://linktr.ee/dukeraphaelng" target="_blank">Duke</a> and <a href="https://linktr.ee/morganbat" target="_blank">Morgan</a>.
</div>
</footer>