<h1 class = "edit">Edit Answer:</h1>

<%= form_with(url: question_answer_path, model: @answer, local: true) do |form| %>

  <p>
    <%# <%= form.label :answer, id: :edit_answer_label %><br>
    <%= form.text_area :answer %>
  </p>
  <p>
    <%= form.submit class: "button is-light" %>
  </p>

<% end %>