<% for answer in @answers %>
<div class="answer">
  <div class="answer__email">
    Answered by: <%= answer.user.email %>
  </div>
  <div class="answer__created_at">
    At: <%= answer.created_at %>
  </div>
  <div class="answer__body">
    <%= answer.answer %>
  </div>
</div>
<% end %>