<div class = "bg-image">
    <div class = "container">
        LANDING PAGE 

        <span class = "signup-or-login">
            <span class = "signup">
                <p>
                    <button>Sign up with Google</button>
                </p>
                <p>
                    <button>Sign up with Facebook</button>
                </p>
                <%= link_to  "Sign up with email", email_sign_up_path %>
            </span>
            <span class = "login">
                <%= link_to  "Log in", login_path %>
            </span>
    </div>
</div>