<div class = "page">
  <div class="container">
    <span class="logo">
      Questionless
    </span>
    <span class="signup-or-login">
      <span class="signup">
        <p>
          <%= link_to  "Sign up with Google", new_user_registration_path, class: "button is-light" %>
        </p>
        <p>
          <%= link_to  "Sign up with Facebook", new_user_registration_path, class: "button is-light" %>
        </p>
        <%= link_to  "Sign up with email", new_user_registration_path, class: "button is-light" %>
      </span>
    <span class="login">
        <p>Already have an account?<br />
          <%= link_to  "Log in", new_user_session_path, class: "button is-primary" %>
        </p>
    </span>
  </div>
</div>