<h1>Employment#show</h1>
<p>Find me in app/views/employment/show.html.erb</p>
<p>
  <%= employment.position %>
  at
  <%= employment.company %>

  <%= employment.start_year %>
  -
  <%= employment.end_year%>
</p>