// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-image {
    background-image: url(images/bg.png);
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30% auto 60%;
}

.container {
    height: auto;
    width: auto;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

.logo {
    font-size: 32px;
    padding-bottom: 40px;
}

.signup-or-login {
    display: grid;
    grid-template-columns: 200px 200px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
}